# Ignore the following directories {`\` to escape `[` chars}
# main
\[01]\ Books/
\[02]\ Projects/
\[03]\ Ideas/
Reacts/
# C++ study
OtherFiles/
ToBeAdded/
# Algorithms study
ThingsToCheck/
AlgorithmsToCheck/
2-MoreComplexISA

# Ignore all the files with the following extensions
*.exe
*.ai
*.eps
*.zip
*.txt